<!DOCTYPE html>
<html>
<head>
 <title>Test Page</title>
</head>
<body>
<style>

 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
<table>
  <thead>
    <tr>
        <th>vehicle ID</th>
        <th>current timestamp</th>
        <th>expiry timestamp</th>
        <th>expiry timestamp</th>
    </tr>
    </thead>
    <tbody>
     {% for row in response %}
            <tr>
                <td>{{row.name}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>