<!DOCTYPE html>
<html>
<head>
 <title>Test Page</title>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>
<table id="customers">
  <thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Address 2</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>County</th>
        <th>Primary Phone</th>
        <th>Secondary Phone</th>
        <th>Fax</th>
        <th>Website</th>
    </tr>
    </thead>
    <tbody>
     {% for row in response %}
            <tr>
                <td>{{row.name}}</td>
                <td>{{row.address}}</td>
                <td>{{row.address2}}</td>
                <td>{{row.city}}</td>
                <td>{{row.state}}</td>
                <td>{{row.zip}}</td>
                <td>{{row.county}}</td>
                <td>{{row.phone}}</td>
                <td>{{row.phone2}}</td>
                <td>{{row.fax}}</td>
                <td>{{row.website}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>